[2018-08-07 18:00] pklaschka opened #2 "Implement definitions of scenegraph->Color"
Since the class ```Color``` is now documented in the API Reference (https://adobe-xd.gitbook.io/plugin-api-reference/xd-api-reference/scenegraph/color), we can implement it in the type definitions.

[2018-08-07 18:02] pklaschka opened #3 "Implement definitions for scenegraph->BitmapFill"
Since the class ```BitmapFill``` is now documented in the API Reference (https://adobe-xd.gitbook.io/plugin-api-reference/xd-api-reference/scenegraph/bitmapfill), we can implement it in the type definitions.

[2018-08-07 18:03] pklaschka opened #4 "Implement definitions for scenegraph->LinearGradientFill"
Since the class ```LinearGradientFill``` is now documented in the API Reference (https://adobe-xd.gitbook.io/plugin-api-reference/xd-api-reference/scenegraph/lineargradientfill), we can implement it in the type definitions.

[2018-08-07 18:04] pklaschka opened #5 "Implement definitions of scenegraph->Matrix"
Since the class ```Matrix``` is now documented in the API Reference (https://adobe-xd.gitbook.io/plugin-api-reference/xd-api-reference/scenegraph/matrix), we can implement it in the type definitions.

[2018-08-07 18:09] pklaschka opened #6 "Implement definitions of scenegraph->Shadow"
Since the class ```Shadow``` is now documented in the API Reference (https://adobe-xd.gitbook.io/plugin-api-reference/xd-api-reference/scenegraph/shadow), we can implement it in the type definitions.

[2018-08-07 18:11] pklaschka opened #7 "Implement definitions of scenegraph->Blur"
Since the class ```Blur``` is now documented in the API Reference (https://adobe-xd.gitbook.io/plugin-api-reference/xd-api-reference/scenegraph/blur), we can implement it in the type definitions.

[2018-08-08 10:57] #2 closed, assigned to pklaschka

[2018-08-08 10:57] #3 closed, assigned to pklaschka

[2018-08-08 10:57] #4 closed, assigned to pklaschka

[2018-08-08 10:57] #5 closed, assigned to pklaschka

[2018-08-08 10:57] #6 closed, assigned to pklaschka

[2018-08-08 10:57] #7 closed, assigned to pklaschka

[2018-08-08 11:19] pklaschka opened #9 "Add application module"
https://adobe-xd.gitbook.io/plugin-api-reference/xd-api-reference/application

[2018-08-08 11:32] #9 closed, assigned to pklaschka

[2018-08-09 09:48] pklaschka opened #11 "Implement definitions for global->fetch(): Promise"
**Documentation:**
https://adobe-xd.gitbook.io/plugin-api-reference/uxp-api-reference/network-apis/fetch

[2018-08-09 09:49] pklaschka opened #12 "Implement definitions for global->WebSocket"
**Documentation:**
https://adobe-xd.gitbook.io/plugin-api-reference/uxp-api-reference/network-apis/websocket

[2018-08-09 09:50] pklaschka opened #13 "Implement definitions for uxp->shell: Shell"
**Documentation:**
https://adobe-xd.gitbook.io/plugin-api-reference/uxp-api-reference/network-apis/shell

(includes global class `Shell`)

[2018-08-09 09:52] pklaschka opened #14 "Implement definitions for module uxp->storage"
**Documentation:**
https://adobe-xd.gitbook.io/plugin-api-reference/uxp-api-reference/storage-apis/storage

[2018-08-09 13:20] #13 closed, assigned to pklaschka

[2018-08-09 13:46] #11 closed, assigned to pklaschka

[2018-08-09 13:51] #12 closed, assigned to nobody

[2018-08-31 00:18] #14 closed, assigned to pklaschka

[2018-09-24 16:20] pklaschka opened #18 "Add support for editor: Brackets"
Currently, the open source editor "Brackets" is not supported. Instructions on how to use the typings with this editor (if possible) should be added to the wiki.

[2018-10-02 17:38] pklaschka opened #19 "XD 13: Repeat grid APIs"
Implement definitions for new repeat grid APIs

[2018-10-02 17:40] pklaschka opened #20 "XD 13: scenegraph->ImageFill (instead of BitmapFill)"
Update definitions to match the XD 13 version (replace BitmapFill with new ImageFill)

[2018-10-03 08:33] pklaschka opened #21 "XD 13: Update docs for getFileForOpening()"

[2018-10-03 08:34] pklaschka opened #22 "XD 13: Remove the flipHorizontal() and flipVertical() (temporarilly)"

[2018-10-03 08:39] pklaschka opened #23 "XD 13: SceneNode.transform is now read-only"

[2018-10-03 08:49] pklaschka opened #24 "XD 13: Updates to File-IO-APIs"

[2018-10-03 08:50] pklaschka opened #25 "XD 13: Update docs for application.createRenditions()"

[2018-10-03 09:08] #19 closed, assigned to pklaschka

[2018-10-03 09:08] #20 closed, assigned to pklaschka

[2018-10-03 09:08] #21 closed, assigned to pklaschka

[2018-10-03 09:08] #22 closed, assigned to pklaschka

[2018-10-03 09:08] #23 closed, assigned to pklaschka

[2018-10-03 09:08] #24 closed, assigned to pklaschka

[2018-10-03 09:08] #25 closed, assigned to pklaschka

[2018-10-17 12:54] pklaschka commented on #18
I put this into the "nice to have" project, meaning I'll look into it when I have time and nothing else has priority.

[2018-11-10 11:04] pklaschka opened #27 "FileStorageProvider::getFileForSaving() seems to have wrong arguments"
According to https://adobexdplatform.com/plugin-docs/reference/uxp/module/storage.html#module-storage-filesystemprovider-getfileforsaving, `types` (an array of file extensions) is the only valid option. However, `initialDomain` is set in the typings (https://github.com/AdobeXD/typings/blob/master/types/uxp.d.ts#L200).

[2018-11-10 11:05] pklaschka commented on #27
@kerrishotts I think I remember that in the Beta, `initalDomain` actually was an argument that could be passed and had a bunch of symbols somewhere in the storage module. Have they since been removed (since they aren't part of the docs anymore)?

[2018-11-10 11:09] pklaschka commented on #27
Could also be relevant for https://github.com/AdobeXD/typings/blob/master/types/uxp.d.ts#L212, https://github.com/AdobeXD/typings/blob/master/types/uxp.d.ts#L186 and https://github.com/AdobeXD/typings/blob/master/types/uxp.d.ts#L396.

[2018-11-23 17:10] tato123 opened #28 "Add support for publishing in definitely-typed repository"
# Enhancement request

## Overview
For projects that utilize typescript and npm the standard mechanism for downloading types into a project is to npm install from the @types namespace, associated with the [definitelytyped ](https://github.com/DefinitelyTyped/DefinitelyTyped)project (supported by the typescript team). As part of modern typescript, types in the @types namespace will automatically re

[2018-11-30 11:38] pklaschka commented on #28
Alright – let's now discuss how we can go about publishing to npm here. @kerrishotts Any thoughts (the problem if I just publish it myself is that it would be difficult to get access rights for Adobe staff (since I don't have any paid npm account and therefore very limited "contributor management" features)?

[2018-11-30 11:52] #27 closed

[2018-11-30 18:53] ashryanbeats commented on #28
Thanks for bringing this up. I've also added @dkstevekwak to the discussion here. We can learn from how Kerri is handling things for xdpm today.

To sum up what I've seen here and elsewhere, the issues we're trying to solve for are:

- Avoid having a single point of failure in the publishing workflow
- To the extent possible, automate the process

Is this accurate?

[2018-11-30 19:04] tato123 commented on #28
@ashryanbeats yes, your summary is accurate. It was a stretch goal, however it would simplify maintaining this project as a community lead library.

I should however have renamed this request. One thing I realized after I created this issue was that using definitelytyped would require the type definitions of this project to be moved over to the [definitelytyped repository](https://github.com/Defin

[2018-12-01 16:58] pklaschka commented on #28
@ashryanbeats Another thing is that since I'm currently basically the sole maintainer of the repo, we need to have some way of publishing it to npm with
1. me not being the only one able to publish it (which would happen if I just published it myself)
2. me being able to publish it (since – at least from what it looks like right now – I will for the near future be the person to make changes and al

[2018-12-03 15:32] mattThousand opened #31 "Compilation errors when using `tsc`"
When importing individual classes like this:
[code]

and compiling using `tsc`, the compiler throws the following errors:
[code]

importing using `require` works, but doing so means you can't use the types as intended in your code:
[code]

Here is an example project: https://github.com/mattThousand/typings

please let me know if I can provide additional information or help out in any way

[2018-12-03 18:42] pklaschka commented on #31
@mattThousand

First, I have fixed a few bugs regarding the typings. Could you please try it with `npm i https://github.com/AdobeXD/typings/tarball/pklaschka-patch-typescript-errors`?

Secondly, you need to import directly from `scenegraph` (not from `../node_modules/@adobexd/typings/types/scenegraph`). Then, you can specify how that gets resolved in your `tsconfig.json`. For example, you could us

[2018-12-03 18:44] pklaschka commented on #31
Your package.json should then look something like this:

[code]

Your `.ts` file something like this:

[code]

[2018-12-03 19:08] mattThousand commented on #31
@pklaschka that's perfect - thank you!

[2018-12-05 12:54] #31 closed

[2018-12-05 12:56] pklaschka commented on #28
@ashryanbeats @kerrishotts Is there any update on this? I don't mean to pressure you, but *"We can learn from how Kerri is handling things for xdpm today."* was five days ago 😉

[2018-12-17 12:43] pklaschka opened #33 "Implement the `viewport` module"
part of updating the typings to match XD v14

[2018-12-17 12:59] pklaschka opened #34 "Add node metadata"
part of updating the typings to match XD 14

[2018-12-17 13:00] pklaschka opened #35 "Update docs of `Rectangle.cornerRadii`"
Part of updating the typings for XD 14

[2018-12-17 13:00] pklaschka opened #36 "Add `scenegraph.selction` and `scenegraph.root`"
part of updating the typings for XD 14

[2018-12-17 13:01] pklaschka opened #37 "Implement the `cloud` module"
Part of updating typings for XD 14, see https://adobexdplatform.com/plugin-docs/reference/cloud.html

[2018-12-17 13:02] pklaschka opened #38 "Update text node docs"
part of updating the typings for XD 14, see https://adobexdplatform.com/plugin-docs/reference/scenegraph.html#text

[2018-12-17 22:49] #33 closed

[2018-12-17 22:49] #34 closed

[2018-12-17 22:49] #35 closed

[2018-12-17 22:49] #36 closed

[2018-12-17 22:49] #37 closed

[2018-12-17 22:49] #38 closed

[2019-01-18 08:35] pklaschka commented on #28
@kerrishotts @ashryanbeats @dkstevekwak Sorry to be tagging you all here, but is there any news about this? The *today* in

is more than a month ago 😉

[2019-01-18 08:41] pklaschka commented on #18
Maybe related (I will check that later): An issue from Brackets about supporting NodeJS modules (why not being exactly identical, if it were possible to add Node module autocompletion, it shouldn't be impossible to do so with the XD API modules as well)

[2019-04-06 16:40] ericdrobinson commented on #28
I've some comments that I hope will be helpful to this discussion.

## Communicating the Purpose of Typings

First, I would strongly suggest that you be careful as to how you message the purpose of these typings. I bring this up because the first sentence of this issue starts with:

Type Declaration Files (aka "typings") are _**not just for TypeScript**_. They power immensely powerful features for

[2019-04-06 18:36] ericdrobinson opened #42 "Fixing Issues in the `sample.js` File"
I downloaded this repository, unzipped it, opened the folder in Visual Studio Code (v1.33.0), opened the `sample.js` file, and was greeted to the following two errors:

![image](https://user-images.githubusercontent.com/9142587/55673438-2c0dd500-5876-11e9-9a39-ca7780b1edf4.png)

These are pretty simple to fix.

## Fixing the `RootNode` Type Error

This problem occurs because the `sample.js` scope

[2019-04-06 20:03] pklaschka commented on #28
@ericdrobinson

Sounds great. In fact, I had initially developed the typings to only get used for autocompletion – the fact that they work for TypeScript as well were an added bonus where we had basically only afterwards discovered how they can get used for TypeScript 😉

I agree. Since this is also the versioning system I've used for tags or releases here on GitHub (`v14.0` for XD 14, `v15.0` and

[2019-04-06 20:41] ericdrobinson commented on #28
@pklaschka

Ahh, apologies: I didn't mean to imply that those "_Since: notations_" intended to serve a functional purpose as they exist in the typings today. I simply meant to point out to those less-familiar with the whole typings paradigm that the versioning is functional, whereas those comments are informational. Both is definitely best!

**That said**, I might suggest that [such comments](http

[2019-04-06 21:25] pklaschka commented on #28
@ericdrobinson

Ah, alright. that sounds reasonable (looks like we now agree on all of your points 🎉) – I'll see if I can change the order in those doc comments in the next "bigger" update of the typings.

👍

[2019-05-15 09:58] pklaschka opened #43 "XD 19: Add typings for `interactions` module"
cf.
- https://github.com/AdobeXD/plugin-docs/pull/187/files#diff-a530ffe18d2fe2ecb09ff59be812915fR1730
- https://github.com/AdobeXD/plugin-docs/pull/187/files#diff-1eb46901616bdb60cb55b6f29b7db563R1
- https://github.com/AdobeXD/plugin-docs/pull/187/files#diff-a530ffe18d2fe2ecb09ff59be812915fR614

[2019-05-15 09:59] pklaschka opened #44 "XD 19: Add typings for the polygon class (in `scenegraph`)"
cf.
- https://github.com/AdobeXD/plugin-docs/pull/187/files#diff-a530ffe18d2fe2ecb09ff59be812915fR1240

[2019-05-15 10:00] pklaschka opened #45 "XD 19: Add typings for new text APIs (in `scenegraph`)"
cf.
- https://github.com/AdobeXD/plugin-docs/pull/187/files#diff-a530ffe18d2fe2ecb09ff59be812915fR1688

[2019-05-20 08:24] #45 closed

[2019-05-20 08:24] #44 closed

[2019-05-20 08:24] #43 closed

[2019-06-13 13:20] pklaschka commented on #28
Upon request, I just summarize what this issue is about / what's currently waiting for help by folks at Adobe:

We need some way to publish the typings to npm in a way that I can push updates (to avoid always waiting for someone having time to look into it when I find the time to update the typings) but where I don't have "exclusive" access to publishing (it is, after all, an "official" Adobe XD t

[2019-06-22 19:29] pklaschka commented on #42
I'll now fix the first issue. Unfortunately, `File` and `Folder` aren't exported (that was wrong in the typings – my bad) in the storage module, meaning you can't require them and therefore, `instanceof` won't work. They are, in fact, just "`static`" classes, as per the documentation, and

[code]

simply evaluates in `undefined`. To my knowledge, this aspect of the APIs simply cannot get *modelled

[2019-06-23 23:58] ericdrobinson commented on #42
@pklaschka Went ahead and installed XD and played around with stuff. You're totally correct:

[code]

... which tells us something **_very_** important:

**There is no such thing as a `File` class!**

Adobe's [`storage` documentation](https://adobexdplatform.com/plugin-docs/reference/uxp/module/storage.html) leaves quite a bit to be desired. One example is the terminology: "static class"? Typicall

[2019-06-24 00:05] ericdrobinson commented on #42
Correction: I can't do this as inline comments can only be applied to changes. I will open new issues for them instead.

[2019-06-24 00:20] ericdrobinson opened #48 "Fix Symbol definitions in uxp.d.ts"
The symbol declarations for [`storage.formats`](https://adobexdplatform.com/plugin-docs/reference/uxp/module/storage.html#module-storage-formats), [`storage.modes`](https://adobexdplatform.com/plugin-docs/reference/uxp/module/storage.html#storagemodes), and [`storage.types`](https://adobexdplatform.com/plugin-docs/reference/uxp/module/storage.html#storagetypes) are defined too "loosely".

First of

[2019-06-24 00:57] ericdrobinson opened #49 "Fix type declarations for options objects in uxp.d.ts"
While TypeScript theoretically supports [declaring one-off types with the JSDoc format](https://www.typescriptlang.org/docs/handbook/type-checking-javascript-files.html#typedef-callback-and-param), it doesn't work terribly well for ambient type declarations (`*.d.ts`). It appears to mainly provide context for type checking the usage of that type in the body of a function's definition.

Let's look

[2019-06-24 01:04] ericdrobinson opened #50 "Property definitions are public by default, remove the `public` keyword?"
Property definitions are all `public` by default in TypeScript. Adding the `public` keyword in front of every declaration is distracting and makes it more difficult to identify the standout `private` or `protected` parameters.

Removing the `public` keyword from the type declarations would make them far more readable and help them better match most other type declaration files.

[I understand that

[2019-06-24 01:07] ericdrobinson commented on #42
Also, when the types are changed from `static class` to `interface`, any `static` methods can be straight-up removed. None of the `static` methods in the current `uxp.d.ts` file exist in the [documentation](https://adobexdplatform.com/plugin-docs/reference/uxp/module/storage.html) anyway...

[2019-06-24 20:15] peterflynn commented on #42
One quick note here: `createEntry()` has been deprecated since before plugin APIs actually launched publicly -- it's not even listed in our public docs anywhere.  I'd suggest removing that from the sample (and the typings overall if it's in there) and having the sample use the official API `createFile()` instead -- which _is_ strongly typed as returning a File.

If you're writing to an existing fi

[2019-06-24 21:15] ericdrobinson commented on #42
@peterflynn I have to admit that not being able to do:

[code]

felt incredibly clumsy. I understand the desire to hide constructors from users when they don't do anything useful, but there are [ways](https://stackoverflow.com/a/21731713/5285364) to work around that issue while maintaining standard usability.

This isn't limited to `File` and `Folder` classes, either. It independently came up with

[2019-06-24 21:31] peterflynn commented on #42
`instanceof` should work just fine for scenegraph classes -- we use that all the time in sample plugins.

I can't speak to why the UXP APIs opted to hide the constructors / "class definitions" and use `is*` flags instead, since those APIs were designed and built by a separate team.  One reason may be that UXP tries to follow web paradigms as much as possible, for developer familiarity, and it's no

[2019-06-24 21:42] ericdrobinson commented on #42
Please check out the [linked forum post](https://forums.adobexdplatform.com/t/typeof-scenegraph-scenenode-is-undefined/934). The `SceneNode` class is special in that attempting to access it directly results in `undefined` the same way that `storage.File` and `storage.Folder` are undefined.

Hmm. That has not been my experience. Seems [pretty ubiquitous](https://stackoverflow.com/questions/384286/j

[2019-06-25 18:30] #42 closed

[2019-06-25 18:30] #48 closed

[2019-06-25 18:30] #50 closed

[2019-06-25 18:32] pklaschka commented on #49
Thanks for bringing this up. I'll probably go with option 1, but don't have the time right now. I'll probably do this in about 3-4 weeks (and merge it with the next update), so if anyone has the time and wants to contribute – feel free to do so.

Thanks again, @ericdrobinson, for your help 👍 .

[2019-06-26 12:09] pklaschka commented on #49
Update: I got to tackle this sooner than expected. The PR is open, I'll wait a few days (since it isn't really a pressing issue) and if there's no veto, I'll merge it.

Again, thank you for all your input, @ericdrobinson (I was mostly doing the typings by trial and error, so some knowledge like yours really helps immensely to get them working as expected).

[2019-06-26 15:00] ericdrobinson commented on #49
@pklaschka Overall looks pretty excellent! I've added some inline comments to suggest further enhancements. A bit of a code review, if you will...

Oh, three more things I noticed while going over the code:

1. The `LocalFileSystemProvider` and `Folder` types are still listed as `static class`es. This is actually an invalid construct in TypeScript - paste the code into this site and you'll see it

[2019-06-26 15:31] pklaschka commented on #49
@ericdrobinson

I've now fixed [1.] and [2.].

With [3.], the thing, however, is that if I don't use the `=`, autocompletion doesn't work as expected (tested at least in WebStorm):
![image](https://user-images.githubusercontent.com/25147704/60193183-85632000-9837-11e9-9300-c6812987ce93.png)

As soon as I add the `=`, everything works as expected. Also (don't get me wrong – I don't want to contradi

[2019-06-26 15:35] pklaschka commented on #49
The way I understand it, the `export = [...]` syntax is basically the typescript way of CommonJS module exports, which – in this case – would be what we need.

[2019-06-26 15:38] pklaschka commented on #49
cf. https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/Modules.md#export--and-import--require

[2019-06-26 16:34] ericdrobinson commented on #49
That's super weird. VSCode does not have that issue. To be clear, I'm running TypeScript v3.5.1 (the version that comes with the latest VSCode). Can you verify your version of TypeScript? If it's _not_ 3.5.1 then it could be that what I'm experiencing is effectively a new bug on the TypeScript side of things.

What's more, I was previously unaware that XD/UXP didn't support ES6 `import` syntax. Th

[2019-06-26 17:01] pklaschka commented on #49
@ericdrobinson I do seem to have a version of 3.2.1 installed globally. WebStorm, however, appears to work without TS, meaning whatever interprets the typings in there probably isn't using a particular (or at least probably not this one) version of TypeScript.

However, VSCode as well has worked before I installed TS globally (via npm), meaning I'm not sure where that's taking its interpreter from

[2019-06-26 17:06] ericdrobinson commented on #49
I've spoken with @kerrishotts a bit about the module construction behind this module a bit. Here's a snippet of that conversation:

@ericdrobinson

```import { storage } from 'uxp';```

@kerrishotts

@ericdrobinson

@kerrishotts

So it looks more like happenstance that the XD import process works a lot like the CommonJS model. And further that idiomatic JavaScript imports may be feasible at some p

[2019-06-26 17:16] ericdrobinson commented on #49
@pklaschka It is **_highly_** likely that your WebStorm install is using either the bundled version. You can verify what it's using by checking out the [TypeScript preferences](https://www.jetbrains.com/help/webstorm/settings-languages-typescript.html) page. It does not work on "nothing" ;)

Same goes for VSCode. When you're editing a TypeScript file (like `uxp.d.ts`), VSCode shows you which versi

[2019-06-26 17:41] pklaschka commented on #49
@ericdrobinson Ah, ok. I thought it might be using some "custom" interpreter (I should definitely try to find the time to learn a bit more about the technical side of this 🙂 ). The behavior mentioned above is using TypeScript 3.4.1 in VSCode and WebStorm, from the looks of it...

[2019-06-26 17:46] pklaschka commented on #49
I can confirm that with TypeScript 3.5.2 (which I've just installed as the latest version via npm), WebStorm (configured to use this new version) still shows the same behavior as mentioned above. So either, this is a VSCode issue, an issue in TS 3.5.1 that got fixed in 3.5.2 or it is independent of the TypeScript version (in which case, we'd be back at the beginning)...

[2019-06-26 20:00] ericdrobinson commented on #49
Hmm... unfortunately the [changelog for 3.5.2](https://github.com/Microsoft/TypeScript/issues?utf8=%E2%9C%93&q=is%3Aissue+milestone%3A%22TypeScript+3.5.2%22+is%3Aclosed+) is completely useless right now. None of the [listed Changes](https://github.com/microsoft/TypeScript/releases/tag/v3.5.2) appear super promising either.

Very strange...

[2019-06-26 20:52] pklaschka commented on #49
@ericdrobinson
Yep, that is strange. Could you possibly send me some sort of code snippet that demonstrates something that's not working for me so I can try to replicate it on my side?

Thank you very much in advance 👍

[2019-06-26 21:40] ericdrobinson commented on #49
@pklaschka No problem! I posted the problematic code to the [TypeScript bug](https://github.com/microsoft/TypeScript/issues/31928#issuecomment-505959065) but neglected to do so here. 🤦‍♂️

Put this in your ```sample.js``` file:

[code]

In VSCode 1.35.1 with the TypeScript compiler set to either 3.5.1 or 3.5.2 the above code causes an error.

[2019-06-27 12:51] pklaschka commented on #49
@ericdrobinson
Ok. I've just tested your code sample with the following results (I won't try to explain it since I simply have no sources to back any statements up with anymore at this point, so I'll just present my findings 😆):

WebStorm doesn't seem to "know" this syntax no matter how it gets implemented in the typings:
![image](https://user-images.githubusercontent.com/25147704/60267332-4cd04e8

[2019-06-27 13:02] pklaschka commented on #49
@ericdrobinson
Since there doesn't seem to be some sort of standard of what can be used (I didn't find any references to imports for `@type` in the JSDoc docs. Therefore, it basically seems as if this is something every IDE supports or doesn't support "to their liking". This would mean that we're basically at a dead end here since one IDE needs it this way, another one needs it another way and so

[2019-06-27 16:04] ericdrobinson commented on #49
@pklaschka Thanks very much for the detailed writeup of your attempts to duplicate the issue I've identified.

With the information you provided, I believe I may have an explanation for what's going on.

This is likely due to a number of factors. Here are two large ones:

1. WebStorm _appears_ to use the Flow server for type checking JavaScript. At least, that's what the JavaScript [Preferences/Se

[2019-06-27 16:18] ericdrobinson commented on #49
This probably belongs in another issue, but I'll reference it in this Issue for now as I originally mentioned it [here](https://github.com/AdobeXD/typings/issues/49#issuecomment-505914349).

First, some setup:

1. Change the `jsconfig.json` file to `tsconfig.json`.
1. Add `allowJs: true` to the `compilerOptions`.
1. Open `uxp.d.ts`.

If you want, you can go through another step of creating a ```te

[2019-06-27 16:30] pklaschka commented on #49
@ericdrobinson

This sounds really promising – thanks again for your efforts.
I'll look into it later today. I'll then "report back" (and commit this in case everything works) when I've tested it in both WebStorm and VSCode (I'll test the Typescript stuff as well, but I'll mostly take your word for it).

[2019-06-28 15:08] ericdrobinson commented on #49
I reached out through the grapevine to someone on the WebStorm dev team about WS type checking and the `import` types support. Here's what came back:

On the `import` types in JSDoc comments front, they explained that they aren't yet supported and pointed to an [Issue tracking the feature](https://youtrack.jetbrains.com/issue/WEB-31971). Hopefully WebStorm/intelliJ get it soon!

[2019-06-28 16:10] pklaschka commented on #49
Ok, I've checked this (d366aed) and it appears to be working. Would you mind checking the Pull Request version to see if everything in there is working for you as well? WebStorm has no problems with it, I haven't seen any problems occurring in VSCode or TypeScript compilation (although I'm no expert in those two 😉)... If everything's working for you in there, I'd go ahead and merge the PR. Thank y

[2019-06-28 16:53] ericdrobinson commented on #49
Oh, `Shell` was defined as a global? Interesting.

I set `strict: true` in the `tsconfig.json`'s `compilerOptions`. That revealed a couple more quick-fix issues with the `Shell` class. I provided some [inline comments](https://github.com/AdobeXD/typings/commit/d366aed06489ecd6d1454e571c655a2ec08e23ef) for those.

[2019-06-28 17:11] pklaschka commented on #49
Yep. I'm still unsure what it really is. It is documented as a "global class", but as we've seen with the "static" classes, this "Kind" field of the docs really doesn't say anything. Since the only way to get an instance of it, I've now decided to move its declaration into the module...

👍 🙏

[2019-06-28 17:19] ericdrobinson commented on #49
After the two typo (😉) fixes, I get no more issues! LGTM!

[2019-06-28 18:17] ericdrobinson opened #52 "SceneNodeList "type" should move to scenegraph.d.ts"
The [`SceneNodeList`](https://adobexdplatform.com/plugin-docs/reference/SceneNodeList.html) class should not be in the global context. Actual attempts to access the `SceneNodeList` directly in a command script results in `undefined` (it's not actually a global).

Further, this should probably be an **interface** rather than a class as there does not appear to be a way to create new instances yours

[2019-06-29 11:06] pklaschka commented on #52
I've done this in the mega PR as well in order to not have many releases for this version. I'll (really) merge it later today (unless you open yet another issue that can get fixed with this PR 😉).

[2019-06-29 13:31] ericdrobinson commented on #52
Hold onto your pants... 😉

[2019-06-29 13:49] ericdrobinson opened #53 "Declaration Errors in assets.d.ts"
If you convert the `jsconfig.json` file to a `tsconfig.json` file, set `strict: true`, and then open the `assets.d.ts` file (in VSCode, at least), you are presented with the following errors:

- A 'declare' modifier cannot be used in an already ambient context. `ts(1038) [119, 5]`
- A 'declare' modifier cannot be used in an already ambient context. `ts(1038) [155, 5]`

These refer to the fact that

[2019-06-29 14:16] pklaschka opened #54 ""Foreign" type in `Interaction` in `scenegraph` module"
![image](https://user-images.githubusercontent.com/25147704/60385399-0cf39d80-9a89-11e9-8733-123ff17d1741.png)

@ericdrobinson Any ideas? Since the type gets defined in the `interactions` module, it doesn't get recognized inside `scenegraph.d.ts`. Should this then be defined in the `index.d.ts` as global?

Thank you very much in advance.

[2019-06-29 14:22] ericdrobinson opened #55 "Declarations Errors in cloud.d.ts"
If you convert the `jsconfig.json` file to a `tsconfig.json` file, set `strict: true`, and then open the `assets.d.ts` file (in VSCode, at least), you are presented with the following errors:

- Enum type 'ArtifactType' has members with initializers that are not literals. `ts(2535) [9, 15]`
- Enum type 'ArtifactType' has members with initializers that are not literals. `ts(2535) [52, 15]`

These r

[2019-06-29 14:55] ericdrobinson commented on #54
Yes! The problem you have here is that the `Interaction` type is not included in the exported `class`. This is another instance wherein it is odd that you are exporting a class when you can never have instances of type `interactions`:

**Whenever you export a class, you make its constructor available to importers.**

Lots "classes" in the XD API do not allow instances. At the very least the constr

[2019-06-29 14:58] pklaschka commented on #54
@ericdrobinson The problem I have with this is that this would – if I'm not mistaken – "suggest" that one can actually import this type (and possibly use it for `instanceof` type checking etc.). Since this is not possible for a plugin (as this isn't "more" than a type definition, making it "importable" would be wrong...

[2019-06-29 15:13] pklaschka commented on #54
I've now solved this by moving those typedefs to the global namespace (in the `index.d.ts`). It passes the linters in VSCode and WebStorm – see 07a903ca7f28aebcbec62ce79248c4011a9125eb. @ericdrobinson Does that work for you? While it's probably not a very nice solution, it works without having "unreal" exports...

[2019-06-29 15:22] ericdrobinson commented on #54
@pklaschka In this case, you are indeed mistaken. It took me a while to understand this as well, but there is a **_very_** important distinction between a `class` and just about everything else.

When you define a `class`, you are defining both the `type` **_AND_** a constructor function with the same name as that `type`. It's something like doing the following:

[code]

For a more complete exampl

[2019-06-29 15:38] pklaschka commented on #54
@ericdrobinson Understood. This, then, holds true for other modules as well, doesn't it? Specifically, I'll have to change `application`, `clipboard`, `commands`, and `viewport` as well, correct?

[2019-06-29 15:46] pklaschka commented on #54
As done in
d663c5a3d9e4b386251f7f95f28243c7d59b0dc0 2b3ea03c46968788d6e59b1cb22a04f788a28a85 63574ec279fc5fb441f72ab0c26a29886ea17e23 37b07a1ce7126156e81e6620b2e8b1bc5ba93ee9

[2019-06-29 15:47] pklaschka commented on #54
Alright, in that case, this issue should be get resolved with the PR as well. If there are now more issues within the next two hours 😆, I'll merge the PR...

[2019-06-29 15:49] ericdrobinson commented on #54
Was about to write something along the lines of "Yes" but you beat me to it!

If you attempt to do the following in XD you get an error:

[code]

So these should be declared as `module`s. 😄

[2019-06-29 15:51] pklaschka commented on #54
And, of course, @ericdrobinson: Thanks a lot (again) for your contributions. The great thing is that not only does this increase the quality of the typings, but I also feel like I have a better understanding of how TypeScript works now, so thanks on that "front" as well 👍

[2019-06-29 15:59] ericdrobinson commented on #54
@pklaschka Happy to help! I'm very glad to hear that the conversation has helped you advance your understanding of TypeScript. That was a large portion of the motivation to provide suggestions with explanations instead of a monolithic PR with everything already packaged up.

And, honestly, this process clarified more TypeScript stuff for me as well! 😄

The one final question that I have is about t

[2019-06-29 16:17] pklaschka commented on #54
@ericdrobinson Yep. Unfortunately, WebStorm lets you decide if you

1. activate NodeJS support for the project (which means you gain access to all the default Node modules and that it asks you if you want to run `npm install scenegraph` since it is an "unresolved" module)
2. deactivate this option for the project (which means WebStorm doesn't know those two anymore).

Therefore, as long as this (o

[2019-06-29 16:24] ericdrobinson commented on #54
Sounds good to me! I expected that it might be an environmental thing. Still not entirely sure where VSCode infers that definition from, but c'est la vie.

Otherwise, everything here looks great. This PR fixes a _massive_ amount of stuff and should really help clarify what's available to users! Great work!

[2019-06-29 16:26] ericdrobinson commented on #54
Also, two more things:

1. Why does `index.d.ts` have the `export {};` line?
1. Why does `scenegraph.d.ts` use the more standard `export {...}` format instead of the `export =` approach that all other modules use?

[2019-06-29 16:38] pklaschka commented on #54
No idea, fixed in 8f7bd4fc077ea2bab3d92f9cc999f08ce2aa03b0

Equally, I have no idea. Whyever, it appears to work for scenegraph (imports work without any problems)... I have no idea what the decisive difference between `uxp` and `scenegraph` is, but it works 🤔

[2019-06-29 16:52] ericdrobinson commented on #54
I hate to rehash this now after `uxp` works, but does changing things in `uxp.d.ts` for you work as expected?

You mentioned [here](https://github.com/AdobeXD/typings/issues/49#issuecomment-505928580) that you used `export =` because it was the closest way to implement the CommonJS module export pattern.

_As I understand things_, using `export =` is a bit of a kludge and should go away as JavaScr

[2019-06-29 17:20] pklaschka commented on #54
@ericdrobinson I have no idea why, but now, this works... Does that mean that all the other things (application etc.) should get exported another way as well?

[2019-06-29 17:27] pklaschka commented on #54
At least I now think I've got an idea of why WebStorm couldn't resolve this before. Somehow, changing the branch messed up my project configuration (no idea why), resulting in some strange way of WebStorm interpreting only parts of it... Sorry about that.

[2019-06-29 17:29] ericdrobinson commented on #54
Basically, yes. But that said, it would be better, I think, to try a different approach. Please let me know if this works for you in `scenegraph.d.ts` and `uxp.d.ts` (two good test cases):

1. Remove the existing `export` statement.
1. Replace `declare` with `export`.

This is a quick test - the only items that should actually be exported are those that you want visible from outside of the module

[2019-06-29 17:31] pklaschka commented on #54
@ericdrobinson Yep, that works.

[2019-06-29 17:32] ericdrobinson commented on #54
Doing the above in VSCode changes the suggested property interpretation.

**Single `export {...}` Version:**
![image](https://user-images.githubusercontent.com/9142587/60387498-26d5b600-9a72-11e9-9f87-fee305a99dbf.png)

**Individual `export ...` Version:**
![image](https://user-images.githubusercontent.com/9142587/60387510-5dabcc00-9a72-11e9-9e0f-61e072d7b126.png)

Resolved names are different bec

[2019-06-29 17:35] pklaschka commented on #54
Ok. That makes sense so far.

[2019-06-29 17:37] ericdrobinson commented on #54
If you're okay with it, I would suggest changing the export process to be of this latter approach (`export class X`, `export interface Y`, `export const Z`, etc.). It provides you with supreme control as to whether or not the type will be available outside of the module without needing special workarounds.

[2019-06-29 17:42] pklaschka commented on #54
@ericdrobinson Doing so right now 😉

[2019-06-29 17:45] pklaschka commented on #54
PR should now be up-to-date with this way of exporting... 😅

[2019-06-29 17:51] ericdrobinson commented on #54
Cool. I'll take a look. I've spotted something... unexpected with this route that I want to check on.

[2019-06-29 17:53] pklaschka commented on #54
@ericdrobinson If everything's working for you, I'd go ahead and merge the PR. Writing the changelog for this release will take long enough as it is – I don't need any further things to put into one PR 😆

[2019-06-29 17:57] ericdrobinson commented on #54
Agreed. That said, I'm seeing something unexpected (and struggling to understand it). Specifically, the following:

[code]

results in this in VSCode:

![image](https://user-images.githubusercontent.com/9142587/60387735-c8aad200-9a75-11e9-9116-0cc34652a135.png)

But... the `Shell` class isn't exported. 😕

[2019-06-29 18:15] ericdrobinson commented on #54
@pklaschka Okay, I figured it out. The [plugin](https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-plugin-d-ts.html) approach seems to work for the XD APIs by doing the following:

[code]

[2019-06-29 18:17] ericdrobinson commented on #54
Also, please be careful to test with a strict `tsconfig.json` file around to catch errant `declare`s, etc.

[2019-06-29 18:28] pklaschka commented on #54
@ericdrobinson Unfortunately, that doesn't work in WebStorm. It doesn't allow for checks like `node instanceof Text` which are, of course, vital for plugin development.

[2019-06-29 18:28] pklaschka commented on #54
It works for the `uxp` module, though. Also, everything else works. It's only `instanceof` that breaks with this.

[2019-06-29 18:34] ericdrobinson commented on #54
@pklaschka Let me look into it a bit. I say that because I _think_ this is the "correct" path. The structure I suggested appears to be how you're 'supposed' to declare [ambient modules](https://www.typescriptlang.org/docs/handbook/modules.html#working-with-other-javascript-libraries).

Let me quickly check the `instanceof` case with `scenegraph.d.ts`...

[2019-06-29 18:34] pklaschka commented on #54
Correction: All hell breaks loose in WebStorm when I do that. It simply "accepts" everything as "correct" code and does no type checking or autocompletion whatsoever...

[2019-06-29 18:37] pklaschka commented on #54
@ericdrobinson I was able to get everything to work as expected by having

[code]

instead of

[code]

[2019-06-29 18:39] ericdrobinson commented on #54
Did you try:

[code]

?

The problem should have been the `declare` statement, not that it was an `interface` vs `class`...

[2019-06-29 18:41] ericdrobinson commented on #54
I [mentioned above](https://github.com/AdobeXD/typings/issues/54#issuecomment-506977012) that you need to get rid of `declare` when you wrap the modules in `declare module 'name'` but you may have missed it...

I also suggested that you re-add the `tsconfig.json` file so that you can be notified about such errors. 😄

[2019-06-29 18:42] pklaschka commented on #54
"A declare modifier is required for a top level declaration in a .d.ts file" for `class Shell` – I've added the tsconfig.json back in a few commits ago 😉

[2019-06-29 18:43] pklaschka commented on #54
![image](https://user-images.githubusercontent.com/25147704/60388224-95386980-9aae-11e9-848e-181fa3a940b7.png)

[2019-06-29 18:47] pklaschka commented on #54
Just to be clear: By

I meant without the "ambient module" declarations...

[2019-06-29 18:50] ericdrobinson commented on #54
How about _with_ the "ambient module" approach?

[2019-06-29 18:50] ericdrobinson commented on #54
![image](https://user-images.githubusercontent.com/9142587/60388299-4c1bf180-9a7d-11e9-9325-843196845891.png)

[2019-06-29 18:52] ericdrobinson commented on #54
Does that include removal of the `declare` keyword when you made the move?

Also, did you try restarting WebStorm? (I've had to do that with VSCode in the past to get the language server to fully refresh...)

[2019-06-29 18:57] pklaschka commented on #54
Unfortunately, yes. The problem remains.

[2019-06-29 18:57] pklaschka commented on #54
With the shell being an interface (and no ambient modules), however, everything appears to be working as expected in WebStorm and VSCode.

[2019-06-29 18:58] ericdrobinson commented on #54
Yes, but the type information is incorrect. `Shell` actually _is_ a class, if memory serves.j

[2019-06-29 19:00] ericdrobinson commented on #54
Let's provide an extremely simple test case. Please do the following:

1. Create a new file called `uxp2.d.ts`.
1. Add this script to it:
[code]
1. In your `sample.js` file, try the following:
[code]

Do you get any errors with any of that?

[2019-06-29 19:01] pklaschka commented on #54
According to the documentation, Shell should be a global class. However, new Shell() also doesn't work in XD, meaning it could actually be an interface...

[2019-06-29 19:04] pklaschka commented on #54
@ericdrobinson

It isn't that I get any errors with ambient modules. It is the fact that I'm not getting ones, e.g., with

[code]

Doesn't show an error. Basically, WebStorm just "gives up" on understanding the typings with the ambient modules and still provides some autocompletion, but doesn't actually "understand" the type flow (an object is of a certain type `b` in an `if (a instanceof b)` bloc

[2019-06-29 19:11] pklaschka commented on #54
![image](https://user-images.githubusercontent.com/25147704/60388475-805dd500-9ab2-11e9-950e-e8f619dc6ef8.png)

[2019-06-29 19:12] ericdrobinson commented on #54
Yeah, that actually _should_ be `declare class Shell`. Restarting my VSCode instance revealed that same error (which is good!) 😄.

[2019-06-29 19:15] pklaschka commented on #54
With the ambient module, the wrong code shows no error:
![image](https://user-images.githubusercontent.com/25147704/60388507-ec403d80-9ab2-11e9-85da-2d4ed90dc607.png)

but without this module declaration, everything works as expected:
![image](https://user-images.githubusercontent.com/25147704/60388514-07ab4880-9ab3-11e9-9c9c-2f560cf3b35b.png)

[2019-06-29 19:15] ericdrobinson commented on #54
Okay, so it looks like declaring a class within a module will _also_ cause it to _export_ the name. If we want a _type_ to exist in/for a module, then we need to use `interface` instead of `class`. There are ways to get an `interface` to work like a `class`, of course, but if the `class` isn't "public" in the module anyway, then it is probably _not_ meant to be `new`ed up.

Seems as though your ap

[2019-06-29 19:20] pklaschka commented on #54
I actually just tested this myself and wanted to write the exact same thing.

So, I'll leave it the state it is in (b0a1352c1140ef37db8c02fd0ca3d39affa01fa0) and merge it?

If you'd like / you agree, I'd like to add you to the contributor's list in the `package.json` (since credit is definitely due to you here). For that, I would need name, url and email address of your choice:

[code]

[2019-06-29 19:46] ericdrobinson commented on #54
A few last minute items!

### Repo Structure - New Issue?
I would like to suggest that the `jsconfig.json` and `sample.js` file get moved into a `sample` or `example` folder that's separate from the top level. A `tsconfig.json` file at the top level then makes the most sense. This will allow a clear separation of TypeScript and JavaScript files while allowing you to have a `tsconfig.json` file tha

[2019-06-29 21:22] pklaschka commented on #54
@ericdrobinson

The thing is that this would mean that the `sample.js` file wouldn't work when cloning the repo, anymore, since the `jsconfig.json` is meant to be placed at the project root folder with a `types` folder as a sibling (the way it is now). This makes using the typings for JS basically a copy-and-paste solution in VSCode as one simply has to copy `types` and `jsconfig.json` into the pr

[2019-06-29 21:23] #49 closed

[2019-06-29 21:23] #52 closed

[2019-06-29 21:23] #53 closed

[2019-06-29 21:23] #55 closed

[2019-06-29 21:23] #54 closed

[2019-06-29 21:33] pklaschka opened #56 "`SceneNode` and `RootNode` not actually exported from `scenegraph`"
From the looks of it, `SceneNode` and `RootNode` aren't actually exported classes in the `scenegraph` module. This is wrongly declared in the typings (`scenegraph.d.ts`).

[2019-06-29 21:38] pklaschka opened #57 "Reimagine structure with samles etc."
As proposed by @ericdrobinson in https://github.com/AdobeXD/typings/issues/54#issuecomment-506982532:

[2019-06-29 21:39] pklaschka commented on #57
The thing is that this would mean that the `sample.js` file wouldn't work when cloning the repo, anymore, since the `jsconfig.json` is meant to be placed at the project root folder with a `types` folder as a sibling (the way it is now). This makes using the typings for JS basically a copy-and-paste solution in VSCode as one simply has to copy `types` and `jsconfig.json` into the project directory

[2019-06-29 21:42] pklaschka opened #58 "JSDoc / TSDoc / Comment Spec"
A space for discussions about
1. What tags can/should get used in the doc comments
2. What spec can be taken to ensure compatibility with editors and still have a productive experience

[2019-06-29 21:44] pklaschka commented on #54
moved to #57

moved to #56

[2019-06-29 21:48] ericdrobinson commented on #57
If that's the case then it might be beneficial to call that out in the Readme. People who are used to TypeScript may understand that but a newbie to type declarations may not understand the purpose of a `jsconfig.json` file.

Another option to consider would be to place a `tsconfig.json` file within the `types` folder. ... ... I'm... not so convinced by this but it is how I have managed it in my t

[2019-06-29 21:58] ericdrobinson commented on #58
For a bit more context, I'll add a bit from [this comment](https://github.com/AdobeXD/typings/pull/51#issuecomment-506464506) this from one of the threads over in PR #51.

TL;DR - We need to be careful about what _context_ we're discussing at all times: **TypeScript** comments or **JavaScript** comments. The interpretation of these tags may be handled by the IDE and **_not_** the TypeScript langua

[2019-06-29 22:00] ericdrobinson commented on #58
Also, I did run across [this list](https://github.com/microsoft/TypeScript/blob/8fc6640f552eb9e5cbbd45e04ea5ccb3aa659b75/lib/typescript.d.ts#L379) of recognized "syntax" for TypeScript itself. It seems as though it _might_ provide some insight as to what JSDoc tags it can interpret in some way... (though no context [JS? TS?] is deducible here...).

[2019-06-29 22:59] ericdrobinson commented on #56
Technically, it _appears_ as though it is _correctly_ declared in `scenegraph.d.ts`. We may be looking at a bug in TypeScript. I opened [an issue](https://github.com/microsoft/TypeScript/issues/32182) for clarification or resolution.

In the meanwhile, there are two known ways to work around this:

1. Use interfaces to declare `SceneNode` and its subclasses. This involves defining each `SubClass`

[2019-06-30 07:45] pklaschka commented on #57
@ericdrobinson I've documented this in the [repo's wiki](https://github.com/AdobeXD/typings/wiki/Autocompletion-in-editors-and-IDEs#visual-studio-code) and linked to it in the README. Do you think that this should get put into the README? Another option (allowing for instructions to be a part of the repo) could be to have the wiki as a submodule of this repo (in a folder called `wiki` or something

[2019-06-30 13:11] ericdrobinson commented on #57
No, I think the wiki is a good place for such information. However, I think the README should certainly have a "Getting Started" section that gives the basic overview. It can then point to the wiki for further information and IDE-specific setup.

Example:

# Getting Started
These Type Declaration files provide your IDE (e.g. [Visual Studio Code](https://code.visualstudio.com/) or [WebStorm](https:

[2019-06-30 13:43] ericdrobinson commented on #56
@pklaschka With some insight from a response to [the issue](https://github.com/microsoft/TypeScript/issues/32182#issuecomment-507006868) I posted on the TypeScript repo, I found this method of achieving the desired result:

1. Add `export {};` to the declaration file.
1. Remove the `export` keyword from any class we don't want exported (read: `SceneNode` and `RootNode`).
1. **Rename** `SceneNode`

[2019-07-02 00:20] GDreyV opened #60 "LinearGradient and RadialGradient do not exist in scenegraph"
Please adjust names of these classes as it doesn't work now.
https://forums.adobexdplatform.com/t/what-namespace-is-lineargradientfill/942/2
https://github.com/AdobeXD/plugin-docs/issues/179

[2019-07-02 00:30] GDreyV opened #61 "Missed properties for RadialGradientFill"
I know that it doesn't have official documentation but we still need to work with it. Please add currently existing properties to unblock current development:
[code]

[2019-07-02 00:35] GDreyV opened #62 "RenditionSettings make format specific properties optional"
Currently format specific properties like `quality` (for jpg only) are required. Please make them optional:
[code]
or use different types, e.g. `JPEGRenditionSettings | SVGRenditionSettings | PNGRenditionSettings`

[2019-07-02 00:41] GDreyV opened #63 "make RenditionSettings.type strongly types"
RenditionSettings.type can have only specific value so I suppose it must be strongly typed, like:
[code]
Really documentation is unclear if RenditionType stands for specific type or just a way to describe values.

[2019-07-02 00:42] GDreyV commented on #63
I used `application.RenditionType.PNG` so I guess it's hardcoded object/class with static properties.

[2019-07-02 01:02] GDreyV opened #64 "RenditionSettings.outputFile"
Maybe I got it wrong but RenditionSettings.outputFile must point to the same type as uxp.storage.Folder.createFile return type (uxp.storage.File) not generic File (which is Blob).

[2019-07-02 07:58] pklaschka commented on #61
Hi @GDreyV,

I understand that this poses a problem for you. However, the decision to keep the typings in sync with the docs stands for three reasons:

1. Without the docs, I have no idea what type (or "range" of types something actually is. In this example, is the color in the color stop an object, a `scenegraph.Color`? Are some properties read-only? There simply is no way to know what the actual

[2019-07-02 08:00] pklaschka commented on #60
Please see https://github.com/AdobeXD/typings/pull/41. I'm regularly pinging Adobe staff about this (among other places, in the forum post you've mentioned). Same reasoning as in https://github.com/AdobeXD/typings/issues/61...

[2019-07-02 08:02] pklaschka commented on #63
Agreed. I'll fix this in the next release.

[2019-07-11 16:11] ericdrobinson opened #65 "tsconfig.json incorrectly relies upon browser DOM types"
UXP supports a [specific _subset_](https://adobexdplatform.com/plugin-docs/reference/uxp/ui-index.html) of browser DOM APIs. [TypeScript's DOM lib](https://github.com/microsoft/TypeScript/blob/master/src/lib/dom.generated.d.ts), on the other hand, is _extremely_ comprehensive. Configuring an environment with TypeScript's built-in DOM library leads to [confusing bugs](https://github.com/AdobeXD/typ

[2019-07-23 00:00] tsuchinaga opened #66 "Is `Line.setSTartEnd` typo?"
I think `setSTartEnd` is a typo in `setStartEnd`.

https://github.com/AdobeXD/typings/blob/master/types/scenegraph.d.ts#L885

[2019-07-25 07:35] pklaschka commented on #66
I'm currently unable to update the repo as I'm in the middle of exams and don't have enough time. Until August 8th, I'll review (and merge) pull requests, view comments, etc., but please understand that I don't have the time to actively update the repo for these next two weeks. Thank you very much for your understanding 🙂

[2019-07-25 07:36] pklaschka commented on #65
I'm currently unable to update the repo as I'm in the middle of exams and don't have enough time. Until August 8th, I'll review (and merge) pull requests, view comments, etc., but please understand that I don't have the time to actively update the repo for these next two weeks. Thank you very much for your understanding 🙂

[2019-08-22 06:48] pklaschka commented on #65
I agree that this would be ideal. However, this would require a lot of manual labor and, at least for me, is not feasible to do manually. Also, as Adobe only points to the MDN docs, it would be even more time-consuming to provide fully documented typings.

All in all, while I agree that it would be better to do so, I currently don't think it's feasible to maintain it that way. If anyone would be w

[2019-08-28 08:03] #56 closed

[2019-08-28 08:03] #62 closed

[2019-08-28 08:03] #63 closed

[2019-08-28 08:03] #64 closed

[2019-08-28 08:03] #66 closed

[2019-09-28 20:43] velara3 opened #67 "'SceneNode' refers to a value, but is being used as a type here ts(2749)"
I'm getting this message after importing the new type defs directory (today Sept 28).

And this error:

It happens on the `const` line and the `@param` line:

[code]

[2019-09-28 23:51] krisnye commented on #67
Have you tried

`import { SceneNode } from "scenegraph";`

[2019-09-29 10:09] pklaschka commented on #67
Hi @velara3.

May I ask in which "context" you're experiencing this issue? What I mean is: Do you use it with JS in VSCode, in another IDE or editor, with a TS compiler?

Thank you very much in advance :slightly_smiling_face:

[2019-09-30 01:02] velara3 commented on #67
It's working now. It was an issue on my side.

[2019-09-30 01:08] velara3 commented on #67
Still have an issue. I see this in the release notes for #59 :
![image](https://user-images.githubusercontent.com/1084127/65843007-44c6e700-e2fd-11e9-9980-d974b0eeefbf.png)

[2019-09-30 19:13] velara3 commented on #67
Interesting. Is it possible for me to revert this locally? I have a lot of:

     /** @param {SceneNode} */

Can I comment out a line and get old behavior back? Or can I import it?

const {SceneNode} = require("scenegraph").SceneNode // doesn't work

[2019-09-30 19:36] ericdrobinson commented on #67
@velara3 You can do one of the following:

### Cleanest Approach

[code]

### Clean Approach

[code]

Find-and-replace would be your friend for that second ("Clean Approach") option. The first option, however, only requires that you refer to the imported `scenegraph` module before the `SceneNode`.

### Global Approach

If you're really that keen on maintaining a generic `SceneNode` there, you  can

[2019-09-30 22:24] velara3 commented on #67
I've created a custom .d.ts and it's working now.

But I'm still having issues with other elements:

[code]

[2019-10-01 08:12] pklaschka commented on #67
Yes, sorry, that is a typo on my end (making the `scenegraph.selection` a `SceneNodeList`). Unfortunately, when trying to use `Selection`, which is declared as a global interface, it is a basically a guessing game whether it uses the correct `Selection` interface or a class from the `dom` typings...

As discussed in #65, it is (currently) not feasible to provide own declarations for the DOM, meani

[2019-10-01 15:21] velara3 commented on #67
"But professor, where would we ever need namespaces?"

So the DOM typings and the XD typings with the same names are conflicting.

Does ES6 or ES7 provide namespaces?

[2019-10-01 16:41] velara3 commented on #67
I like your suggestions but what I meant was maybe writing the classes in ES6? XD plugins are written in JavaScript.

https://adobexdplatform.com/plugin-docs/reference/javascript/javascript-support.html

You could simply create an ES6 class and code hinting and code complete will work from that but if there are name collisions then namespaces would help if they are supported.

The local ES6 classe

[2019-10-01 17:16] ericdrobinson commented on #67
This isn't possible for type _declarations_. As a plugin **_author_** you can definitely write using ES6 classes and the like. The Type Declarations, however, **_cannot_** be written in ES6, they **must** be written using TypeScript (and, more specifically, as Type Declaration files).

The Type Declaration files are _descriptions_ of the environment. The `Selection` type is provided by Adobe. It's

[2019-11-09 02:32] Triggs9 opened #68 "SceneNode doesn't contain addChild, but all derived classes/types do, shouldn't it be on SceneNode itself?"
When following the [quick start](https://adobexdplatform.com/plugin-docs/tutorials/quick-start/) it uses:

`selection.insertionParent.addChild(newElement);`

while the [Selection](https://github.com/AdobeXD/typings/blob/d56685bd8e346d1ffc7e43e6cdc79e2945778407/types/index.d.ts#L61) in the global namespace uses [SceneNode](https://github.com/AdobeXD/typings/blob/d56685bd8e346d1ffc7e43e6cdc79e294577

[2019-11-09 08:52] pklaschka commented on #68
Hi @Triggs9.

First of all: Thank you for the issue.

`SceneNode` is the class (or better: interface) all other types inherit from. This also includes things like the `GraphicNode`, which, in fact, aren't a `Group` and therefore do not contain the "child management methods" (out of context, this sounds so wrong :rofl:).

As the other types implement the `SceneNode` interface,

shouldn't be necessa

[2019-11-20 09:25] pklaschka commented on #68
I'm closing this for now. Feel free to re-open as needed; but as far as I understand it, this currently isn't an issue in the typings.

Best,
Pablo

[2019-11-20 09:25] #68 closed

[2019-12-05 12:29] pklaschka commented on #18
Unfortunately, I haven't found a way to support the typings in Brackets. I'm closing this issue for now. If anyone finds a way to use it with Brackets (or at least some info about this), feel free to re-open the issue. For now, however, I have to consider this to be impossible and therefore not an issue of the typings...

[2019-12-05 12:29] #18 closed

[2019-12-07 10:40] #57 closed

[2019-12-18 10:14] pklaschka opened #71 "XD 25: application.activeDocument"
Create declarations for the new `application.activeDocument: DocumentInfo` and `typedef DocumentInfo` APIs. Cf. https://adobexdplatform.com/plugin-docs/reference/application.html#module_application-activeDocument

[2019-12-31 10:39] #67 closed

[2019-12-31 10:39] #71 closed

[2019-12-31 17:14] ericdrobinson opened #72 "Suggestion: Call out custom type name overrides in ReadMe"
PR #70 changed the `Selection` type declaration to be `XDSelection`. It may be helpful for users to have this explicitly called out (with explanation for _why_) in the ReadMe.

**Suggestion:** Add a new section to the ReadMe file (called something like "Notes" or "Errata") that calls out customizations like this and includes a blurb for their raison d'être.

[2019-12-31 17:25] pklaschka commented on #72
@ericdrobinson The funny thing is: I wanted to implement this tomorrow, anyway. You're too fast at creating issues :stuck_out_tongue_winking_eye:.

I'll also (before creating the release) rename the `LinearGradient` (I've waited for too long for the docs to update this :neutral_face:), cf. #41, and will then include these as "exceptions" in the section where we've specified that the typings follow

[2019-12-31 18:27] ericdrobinson opened #73 "Why add both tsconfig.json and jsconfig.json?"
Declaring both `tsconfig.json` and `jsconfig.json` is unnecessary (and actually a bit confusing). The presence of _either_ will instruct the TypeScript Language Service that the containing folder is the [root of a "Project"](https://code.visualstudio.com/docs/languages/jsconfig#_why-do-i-need-a-jsconfigjson-file) (for which the config file is the ruleset by which to process the project). If you sp

[2019-12-31 20:58] pklaschka commented on #73
@ericdrobinson
You know, the funny thing is that I thought about doing it the other way around. I've noticed that a slightly adjusted `tsconfig.json` allows a plug-and-play functionality in WebStorm as well (I'm in the process of open-sourcing my *Lorem Ipsum* plugin, which is why I'm refactoring a lot and today stumbled upon this).

In said plugins, the following `tsconfig.json` allowed full auto

[2020-01-01 10:16] #60 closed

[2020-01-01 10:16] #72 closed

[2020-01-01 18:48] ericdrobinson commented on #73
@pklaschka You raise some excellent points here! I'll start by outlining my recommendation.

## Recommendation

Yes. Specifically:

1. Drop `jsconfig.json` as you suggest.
1. Do not provide a `tsconfig.json` file.
1. Change the "**Getting Started**" section to simply read something like:

1. Add a subsection to the "**Getting Started**" section that outlines the following:
   1. Explains that a `t

[2020-01-02 15:17] pklaschka commented on #73
And now, `XDSelection` is working for me, too. I have no idea what I did wrong, yesterday (I've verified via the local history, everything was exactly the same and I had restarted the language service as well), but... So be it :stuck_out_tongue_winking_eye:

Regarding your suggestions: Sounds good, I'll work on updating the docs in the next few days, so expect to see a PR relatively soon :slightly

[2020-01-02 17:09] ericdrobinson opened #74 ""Typings" is an Archaic Term [and Field Name] (package.json)"
In earlier TypeScript days, the term "Typings" was used to refer to both Type Declarations themselves and, more importantly, the [`typings`](https://github.com/typings/typings) tool that used to provide access to said Type Declarations.

The current `package.json` file specifies the [`typings` field](https://github.com/AdobeXD/typings/blob/1bd37f06e867a89036413cedd331729b19be5282/package.json#L4).

[2020-01-02 17:35] #74 closed

[2020-01-02 17:47] ericdrobinson commented on #73
As a quick test, I made the organizational adjustments I suggested in the _What About the [t/j]sconfig.json Files in This Repository?_ section of [this comment](https://github.com/AdobeXD/typings/issues/73#issuecomment-570074787). I found that a `tsconfig.json` file was necessary in both the `types` folder and the `samples/javascript` folder (would also be required for a `samples/typescript` folde

[2020-01-03 16:56] ericdrobinson commented on #73
@pklaschka While testing something out, I added a `typescript` directory to the sample structure I outlined in my [previous comment](https://github.com/AdobeXD/typings/issues/73#issuecomment-570284760).

I'll post their contents here in the event that it's something you're interested in adding to the project:

### `samples/typescript/tsconfig.json`

[code]

As with the `jsconfig.json` file, this o

[2020-01-03 16:59] pklaschka commented on #73
Just FYI: After further testing, I can conclude that JetBrains IDEs don't support `jsconfig.json` files (but do support `tsconfig.json` files), which is why I'd like to use this (in fact, I don't know of any editor except VSCode that supports the `jsconfig.json`, and if it's really just a *preconfigured* version of the `tsconfig.json`, I see no reason to use the `jsconfig.json` file at all, decrea

[2020-01-03 17:21] ericdrobinson commented on #73
Which IDE are you using? A quick Google search shows that there are lots of people using `jsconfig.json` with WebStorm. ~[This gist](https://gist.github.com/Landish/4c4796f0a694af075be69c4f54a8fd3b) even has a WebStorm-specific section.~

[EDIT] I'm not certain the gist I linked outlines how to use the `jsconfig.json` file with WebStorm - it may simply say "for the equivalent setup in WebStorm, do

[2020-01-03 17:26] ericdrobinson commented on #73
The WebStorm 2019.2 [release announcement](https://blog.jetbrains.com/webstorm/2019/07/webstorm-2019-2#jsconfig) even mentions `jsconfig.json`...

[2020-01-03 17:44] ericdrobinson commented on #73
@pklaschka

My understanding is that any IDE that relies upon the TypeScript language service to handle JavaScript type checking will support the `jsconfig.json` file. [This resource](https://php.quicoto.com/atom-typescript-linting-in-js-files/) explains how to configure `jsconfig.json` for Atom. It _also_ mentions that `jsconfig.json` doesn't work for WebStorm (at the time of writing), but that w

[2020-01-03 17:48] pklaschka commented on #73
@ericdrobinson The thing is that (to my knowledge, I don't have the time to find sources for this statement right now) Webstorm, unlike VSCode?, doesn't use TypeScript as a language server by default. When I add the `tsconfig.json` file, it begins to *additionally* also use a TypeScript language service for checking the files (which is when it also begins to recognize the `import().ABC` syntax in

[2020-01-03 17:58] pklaschka commented on #73
It is actually the `"allowJS": true` in the `tsconfig.json` that enables the Typescript Language Service in WebStorm, according to https://blog.jetbrains.com/webstorm/2019/09/using-typescript-to-check-your-javascript-code/:

[2020-01-03 18:05] ericdrobinson commented on #73
Does the `jsconfig.json` file you're testing with have the `"checkJs": true` option set?

[2020-01-03 18:29] pklaschka commented on #73
@ericdrobinson Yes:
![image](https://user-images.githubusercontent.com/25147704/71741512-6507c400-2e5f-11ea-813b-7ffcdd25c5bb.png)

(it's basically my working `tsconfig.json` without `allowJS`...)

[2020-01-03 18:49] ericdrobinson commented on #73
Well it's really up to you. Perhaps you add a `tsconfig.json` and, if the JetBrains folks get around to implementing proper support for `jsconfig.json`, then it can change.

Perhaps it makes sense to file a bug with WebStorm to have it pick up on JavaScript type checking when a `jsconfig.json` file exists?

[2020-01-04 10:28] pklaschka commented on #73
@ericdrobinson

Sounds good.

When I find the time to properly confirm this behavior and write a bug report, I'll probably do that. As the exams at my university currently (once again) are getting closer and closer at an alarming rate, that'll still have to wait a bit, though... :wink:

[2020-01-10 19:50] ashryanbeats commented on #28
Hi all, apologies for our extended absence in this conversation and thanks to Pablo for pushing us to respond.

1. To be transparent, the team doesn’t have the bandwidth to get deeply involved at the moment (unfortunately) as we're working on hiring
2. What I will do is reach out to our open source team at Adobe to see if publishing by non-Adobe employees is even possible, given the 2FA setup on A

[2020-01-11 15:54] pklaschka commented on #28
@ashryanbeats Thank you very much for your answer.

In this case, for now, we're gonna take the road of insalling the repo directly from GitHub (if needed, via npm: `npm install AdobeXD/typings`) and remain open for a different solution, should one arise.

As soon as the documentation for the typings is updated in this reagard, though, I'll close this issue as it, then, is "as resolved" as we're g

[2020-01-12 15:57] ericdrobinson commented on #28
I would highly recommend **not** doing this. Rather, I would recommend adding the **TBD / Future** label to it.

If this Issue was titled "_Add support for installing with NPM_", then I'd say 👍 as the documentation adjustment you describe would resolve that. However, the core issue here is one of publishing to the _ecosystem-standard_ type repository. If the answer is "can't do this yet", then it

[2020-01-12 16:17] pklaschka commented on #28
@ericdrobinson I'd actually close it especially because of the scope of the issue. **Support** for publishing is now achieved (since it is possible to install the types via npm and the actually described scope doesn't, as per the author's request, strictly include adding it to Definitely Typed; This, to my knowledge, also wouldn't be possible as the guidelines of Definitely Typed aren't compatible

[2020-01-12 18:34] ericdrobinson commented on #28
If that's the case, then definitely change the title before closing this. Much of [my initial commentary](https://github.com/AdobeXD/typings/issues/28#issuecomment-480518486) on this issue was with the assumption that the goal was to add these types to the `@types` npm namespace (organization).

Part of the point here is that the following is a **hack**:

[code]

The reason [I suggested the `@type

[2020-01-22 22:43] ashryanbeats commented on #28
Hi all, our colleagues in the open source office let me know that allowing non-Adobe employees publish directly on our behalf to npm isn't possible (and I'm sure we all must have expected this to be the case 😄 , but it was worth getting a definitive answer).

If we do get bandwidth to address this in the future, they mentioned that setting up CI/CD could be a viable option:
https://sergiodxa.com/a

[2020-01-22 23:04] ericdrobinson commented on #28
Is the suggestion here that you guys would set up CI/CD to submit to NPM while continuing to accept PRs from the community?

If so, that would certainly bypass the "community pushes under Adobe's name" issue.

That said, it might **_also_** be possible to set up CI/CD such that it automatically creates a PR into the DefinitelyTyped repo to get officially added to the `@types` namespace.

[2020-02-05 23:35] ericdrobinson commented on #58
TypeScript 3.8 is adding [new support for some JSDoc syntax](https://devblogs.microsoft.com/typescript/announcing-typescript-3-8-beta/#jsdoc-modifiers).

[2020-02-06 13:08] pklaschka commented on #58
That's good to know, although it probably won't affect this issue, since it looks like it's only about "Typescript JS compatibility comments", and not really about "documentation comments", so to speak.

Let's hope that their move in doc comment space will bring improvements in the "documentation doc comment" space with it in the foreseeable future :slightly_smiling_face:

[2020-02-18 17:05] macdonst commented on #28
Hi all, I'm Simon MacDonald and part of Adobe's Open Source Office and @ashryanbeats has brought me on to help. I've got admin access on this org now so I can setup a github action that will publish the package to npm using our `adobe-admin` account so everything is nice and official.

Here are the currently available publish to npm github actions. Can folks take a look over them so we can have a

[2020-02-18 18:07] macdonst commented on #28
Also, I'd like to change the package name from `@adobexd/typings` to `@adobe/typings` as there is no Adobe XD org on npm. Make sense?

[2020-02-18 19:50] ericdrobinson commented on #28
@macdonst I would highly recommend **against** publishing this repo to NPM directly and instead follow [the instructions](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) to publish directly to the `@types` namespace. Getting these into _two_ locations in NPM can **only** lead to confusion and unnecessary maintenance costs.

I'm not entirely sure what you're suggesti

[2020-02-19 14:32] macdonst commented on #28
@ericdrobinson Hmm…I thought it was settled that the community wanted this repo published as an npm package. I'd love to hear from everyone whether this package should:

1. be published to npm
2. PR to the DefinitelyTyped repo
3. both 1 and 2

The reason I suggested changing the name from `@adobexd/typings` to `@adobe/typings` was because publishing to npm would fail the way it is currently setup

[2020-02-19 15:28] pklaschka commented on #28
I don't care too much about which way we go.

However, since XD updates are pretty frequent and I already have trouble keeping up with them as it is, adding the bureaucracy of managing PRs for the repo over at `@types` doesn't exactly sound appealing to me.

I still have exams this week, but hopefully, I'll find the time to research how feasible publishing to `@types` might be and will "report bac

[2020-02-19 17:43] ericdrobinson commented on #28
@macdonst There was discussion about whether or not to publish the repo as a raw npm package or contribute to Definitely Typed (the `@types` namespace). But the conversation somewhat trailed off. The arguments against Definitely Typed were basically debunked in the last comment I posted in that discussion [here](https://github.com/AdobeXD/typings/issues/28#issuecomment-573443868).

Of the two opti

[2020-02-19 23:56] peterblazejewicz opened #75 "using with`@types/node` inflicts compiler error about duplicate definition"
Folks, thanks for great tooling!
Q: What was the reason behind adding the global declaration for `require`?
https://github.com/AdobeXD/typings/commit/bda80c1b27653d6977d58ded7f25d413534dc5be#diff-88bec6beae84369c0376b56b3bb88fe1R13
Should it work with `@types/node` in typical scenarios? The XD is based on the CommonJS(2), expects use of `module.exports = ....` and using `require(...)`. The @types/

[2020-02-20 10:08] pklaschka commented on #75
Hi @peterblazejewicz,

Since XD doesn't provide Node's modules, using `@types/node` isn't an ideal option. I had found editor support to be optimal when I added this declaration since, for editors that do support CommonJS, this didn't change anything. In other cases, it removed warnings about calling an *undefined function `require()`*...

All in all, it is, therefore (unfortunately) not really an

[2020-02-20 10:39] peterblazejewicz commented on #75
Hey, thanks for getting back!
Let's say I'm using TS files solely, so as the CommonJS requires and has this export definition:
[code]
The current types works OK when using with vanilla JS, with `allowJs` option or using `tsc` to check for errors, using `@ts-check` pragmas in source files, so in case like in this project sample:
https://github.com/AdobeXD/typings/blob/master/sample.js
But when used

[2020-02-20 13:21] peterblazejewicz commented on #75
Solved, I've rewritten the parts using CommonJS syntax to:
[code]
and this removes the need to use @types/node directly.
Thanks!

[2020-02-20 13:21] #75 closed, assigned to nobody

[2020-05-20 12:49] pklaschka opened #76 "Update typings to XD 29"
For reference: I'm now updating the typings to match the docs of version 29 🙂

[2020-06-05 00:38] abcd-ca opened #78 "A couple type problems"
Hi, thanks for making the typings for XD, it's a big help. Here are a couple problems I've come across:

1. If I type selection as `XDSelection` and I try to then access, `selection.items[0].text` I get an error, "Property 'text' does not exist on 'SceneNode'"
2. If I type foo (ex. a Group) as `SceneNode` and I try to access `foo.sharedPluginData.getAll()` I get an error, "Property 'sharedPluginDa

[2020-06-05 01:19] abcd-ca commented on #78
I also tried `(selection.items[0] as Text).text` which gives me, "Property 'text' does not exist on type 'Text'."

[2020-06-05 11:03] pklaschka commented on #78
Since I'm currently dealing with an ear infection, just a very quick, undetailed answer (in the hopes that it still helps):
1. That's to be expected as at this point, it is not established that it is, in fact, a `Text` node. Please take a look at the [sample.js](https://github.com/AdobeXD/typings/blob/master/sample.js) file. You can use `instanceof` to check the type and use its properties 🙂
2. We

[2020-07-17 01:03] langri-sha commented on #28
I'm using Flow and it would be really nice if there were published types so we can convert these in a single step 👍. Using this run script from the repo clone for the time being.

[code]

[2020-07-17 13:24] ericdrobinson commented on #28
From speaking with @baaygun (an Adobe engineer) on a related topic, it sounds as though Adobe does have designs on maintaining type declarations on NPM. No word on when this is coming but there is hope that this will become an official thing. I'd be willing to bet that it will pick up steam as other Adobe host applications gain their own UXP integrations...

[2020-11-05 15:18] petrbrzek opened #79 "Is this project still active?"
Hello 👋 ,

I just wanted to ask whatever this project is still being actively developed. There is already Adobe XD v34 but the latest release of typings here is for v25. Thanks.

[2020-11-05 17:11] pklaschka commented on #79
Hi there 🙂

It is still alive, but it's maintained primarily by a student with a very limited amount of time (me 😜).

You can see the XD v29 PR (#77). Unfortunately, work, exams at university, and illness prevented me from getting to work on the repo since then.

All in all: Yes, it's still alive and maintained, I hope to get back to updating it soon. I'll review and merge any PRs, read every issu

[2020-11-16 09:54] petrbrzek commented on #79
Thanks, I find funny that Adobe has 22 thousand employees, and they dedicate a student to maintain this repo. I'm not saying it's bad, but it's kind of obvious that it's hard for you to stay up to date with XD releases.

[2020-11-16 09:54] #79 closed, assigned to nobody

[2020-11-16 21:39] pklaschka commented on #79
@petrbrzek The project started during the plugin APIs' prerelease stage when I needed these definitions myself and developed them. They then became part of this GitHub organization at a later stage (after being published in an old-school fashion through zip-files in the prerelease forums). They remained a personal side-project (hosted in this GitHub organization to become the "official" Typescript

[2021-02-19 14:21] hansottowirtz commented on #28
Does anyone know of available typings for other Adobe products than XD? If there's any ongoing effort I'm willing to help out.

[2021-02-19 14:38] pklaschka commented on #28
@hansottowirtz For other products using UXP (i.e., at the moment, just Photoshop), I believe Adobe is planning to publish those types themselves (this, right here, is "just" a community-driven manual effort to create those types, after all).

For other extensibility systems (like CEP, etc.), other answers might apply. For instance, a quick search for CEP types resulted in the following results:
-

[2021-02-23 22:52] hansottowirtz commented on #28
I spent the day building a crawler for the Adobe documentation, which generates Typescript typings: https://github.com/hansottowirtz/adobe-uxp-types-crawler. I'm pretty sure that there will be some inconsistencies because of incomplete documentation but it seems to work for now. There are only types for the `photoshop` module so people can use the types in this repository for the `uxp` module.

tl

[2022-10-08 23:05] partlyhuman opened #81 "Typings for Photoshop?"
Are there any declarations for the photoshop API (https://developer.adobe.com/photoshop/uxp/2022/ps_reference/)? This would be very helpful for developing plugins & PSJS scripts.

[2022-10-09 10:30] pklaschka commented on #81
For Photoshop Host app APIs (this unfortunately doesn't include the core UXP types), type definitions get published to DefinitelyTyped as `@types/photoshop` (cf. https://www.npmjs.com/package/@types/photoshop).

They seem to be a little out of date, as of right now, but these are "the" Photoshop types (and thus, probably your  best bet).

Please feel free to re-open this issue in case this doesn't

[2022-10-09 10:30] #81 closed, assigned to pklaschka